.message-list {
    padding-top: 80px; // Adjust for your header
    background-color: #fff;
    padding-bottom:80px;
  
    .message-item {
      background-color: #f5f5f5;
      border-radius: 8px;
      margin: 15px;
      padding: 15px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: background-color 0.3s; // Smooth transition for the background color
  
      &.read {
        background-color: #d3d3d3; // Darker background for read messages
      }
  
      // You may want to add :hover styles for better user experience
      // &:hover {
      //   background-color: #e8e8e8;
      // }
  
      .message-content {
        h3 {
          margin: 0;
          color: #333;
          font-size: 1rem;
        }
  
        p {
          margin: 5px 0;
          color: #666;
          font-size: 0.9rem;
        }
      }
    }

  }
  