$background-color: #fff;

.icon-container {
  display: flex; 
  gap: 15px; 
  justify-content: center;
}


.icon {
  font-size: 32px; 
}

.centered-textbox {
  text-align: center;
  margin-top: 100px; 
}

.centered-input {
  width: 20px; 
  text-align: center;
}

.bold-text {
  font-weight: bold;
}

.large-text {
  font-size: 40px; /* 调整需要的字号 */
}

.introduction-text {
  margin-top: 10px;
  font-size: 16px;
  color: #666; /* 可以根據需要設置文字顏色 */
}

.confirm-reservation-button {
  padding: 20px 120px;
  border-radius: 30px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top:120px;
}

.info-stadium-image {
  width: 80%;
  height: 200px;
  border-radius: 10px;
  margin-top:70px;
}

