@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&display=swap');

.time-slots-container {
    margin-top: -10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reserve-join-button {
    padding: 20px 120px;
    border-radius: 30px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.time-slot {
    width: 100px;
    height: 40px;
    border: none;
    margin: 0 10px;
    margin-bottom: 0.6em;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat Alternates', sans-serif; 
    font-weight: bold; 
}

.time-slot-available {
    background-color: #f0f0f0;
}

.time-slot-unavailable {
    background-color: #cccccc;
    cursor: not-allowed;
}

.time-slot-selected {
    background-color: #ffcccc;
}