$background-color: #fff;

.header {
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%;
  z-index: 10;
  padding: 10px 0;
  text-align: center;
  
}

.stadium-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // Two columns
  grid-gap: 10px; // Adjust the gap as needed
  padding-top: 100px; // Adjust the padding as needed
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 50px; // Adjust the margin as needed
  background-color: #fff;
  width: 100%;

  
  .stadium-item {
 
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;


    img {
      border-radius: 10px;
      width: 100%;
      height: auto; // Adjust height to maintain aspect ratio
      object-fit: cover; // Cover the area without stretching
      margin-bottom: 1px;
    }

    .stadium-info {
      padding: 0.5rem; // Add padding inside the stadium-info box
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    

      h3 {
        font-size: 1rem;
        color: #333;
        margin: 0;
        margin-bottom: 0rem;
      }

      p {
        font-size: 0.9rem;
        color: #666;
        margin: 0;
      }


    }
  }
}




.footer {
  position: fixed; // 固定 footer 在底部
  bottom: 0; // 將 footer 置於螢幕底部
  left: 0; // 與螢幕左邊對齊
  width: 100%; // footer 寬度與螢幕一樣寬
  z-index: 5; // 確保 footer 的層級低於其他內容
  text-align: center; // 文字置中
  padding: 10px 0; // 上下邊距
  box-shadow: 0 -2px 4px rgba(0,0,0,0.1); // 給 footer 上方添加陰影
}
