apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.global.environment }}-secrets
  namespace: {{ .Values.global.namespace }}
type: Opaque
stringData:
  {{- $secret := .Values.secrets }}
  {{- range $key, $val := index $secret .Values.global.environment }}
  {{ $key }}: {{ $val }}
  {{- end}}